<h1>Listing writers</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable_column "Username" %></th>
      <th><%= sortable_column "Email" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @writers.each do |writer| %>
      <tr>
        <td><%= writer.username %></td>
        <td><%= writer.email %></td>
        <td><%= link_to 'Show', writer %></td>
        <td><%= link_to 'Edit', edit_writer_path(writer) %></td>
        <td><%= link_to 'Destroy', writer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
    <%= link_to "New Writer", new_writer_path(@writer), {:class => "btn btn-default btn-lg"}  %> | 
    <%= link_to "Back to Stories", stories_path(@story), {:class => "btn btn-default btn-lg", :target => "_parent"}  %>
</div>