<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @writer.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @writer.email %>
</p>

<%= link_to 'Edit', edit_writer_path(@writer) %> |
<%= link_to 'Back', writers_path %>
