<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @writer.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @writer.email %>
</p>

<div>
    <%= link_to "Edit", edit_writer_path(@writer), {:class => "btn btn-default btn-lg"}  %> | 
    <%= link_to "Back to Writers", writers_path(@writer), {:class => "btn btn-default btn-lg", :target => "_parent"}  %> | 

    <%= link_to "Back to Stories", stories_path(@story), {:class => "btn btn-default btn-lg", :target => "_parent"}  %>
</div>