<% 'stories_edit' %>

<div class="container">
  <div class="row">
      <div class="well">

        <%= form_for(@story) do |f| %>
          <% if @story.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

              <ul>
              <% @story.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

 

          <div class="btn-group">  

          <button type="button" class="btn btn-default">          
            <%= f.label :nickname %>
            <%= f.text_field :nickname %>
          </button>

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">          
            <%= f.label :status %>
            <%= f.select :status, [[' Unassigned', " Unassigned"],['Assigned','Assigned'],['Filed','Filed'], ['Edited','Edited'], ['Produced','Produced'], ['Scheduled','Scheduled'], ['Published','Published']]  %>
          </button>  
        </div>

<br>
<br>

          <div class="btn-group">  
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
            <%= f.label :scheduled_date %>
            <%= f.datetime_select :start_time, order: [:month, :day, :year], ampm: true, :minute_step => 15 %>
            </button>
          </div>

<br>
<br>
          <div class="btn-group">  
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">            <%= f.label :writer %>
              <%= f.select :writer_id, @writers %>
            </button>

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
              <%= f.label :editor %>
              <%= f.select :editor_id, @editors %>
            </button>

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= f.label :producer %>
              <%= f.select :producer_id, @producers %>
            </button>  
          </div>
<br>
<br>

          <div class="btn-group">  
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%= f.label :theme %>
            <%= f.select :theme_id, @themes %>
          </button>  

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%= f.label :format %>
            <%= f.select :format_id, @formats %>
          </button> 

          </div> 

          <br>
          <br>
          <div class="field">
            <%= f.label :notes %>
            <%= f.text_area :notes %>
          </div>

          <div>
            <%= f.submit "Save Update", {:class => "btn btn-default btn-lg"}  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>