
<%= render "/layouts/nav" %>


      <ul class="nav nav-tabs">
        <li class="active" ><a href="#calendar" data-toggle="tab">Calendar</a></li>
        <li><a href="#list" data-toggle="tab">List</a></li>
      </ul>

<div class="container">
  <div class="row">
    <div class="span12">

      <section class="tab-content">

        <article class="tab-pane active" id="calendar">

      <%= calendar @stories, {:prev_text=>"prev  ", :next_text=>"  next"} do |story| %>
        <div class="calendar-item <%= story.status.downcase.lstrip%>" > 
          <h5><%= link_to story.nickname, story, { :rel => "shadowbox;height=630;width=640"} %></h5>
          <p class="datetime"><%= story.start_time.strftime("%I:%M %p") %></p>
          <p class="status"><%= story.status %></p>
        </div>
      <% end %>

        </article>

        <article class="tab-pane" id="list">
          <div class="panel panel-default">
            <table class="table">
              <thead>
                <tr>
                  <th><%= sortable_column "Nickname" %></th>
                  <th><%= sortable_column "Scheduled Date", :column => "start_time" %></th>
                  <th>Notes</th>

                  <th>Writer</th>
                  <th>Editor</th>
                  <th>Producer</th>

                  <th>Theme</th>
                  <th>Format</th>
                  <th><%= sortable_column "Status", :column => "status" %></th>

                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @stories.each do |story| %>

                  <tr>
                    <td><%= story.nickname %></td>
                    <td><%= story.start_time %></td>
                    <td><%= story.notes %></td>
                    <td><%= story.writer.username %></td>
                    <td><%= story.editor.username %></td>
                    <td><%= story.producer.username %></td>
                    <td><%= story.theme.theme %></td>
                    <td><%= story.format.format %></td>
                    <td class="<%= story.status.downcase.lstrip%>" ><%= story.status %></td>
                    <td><%= link_to 'Show', story %></td>
                    <td><%= link_to 'Edit', edit_story_path(story) %></td>
                    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="panel-footer"><%= link_to 'New Story', new_story_path %></div>
          </div>
        </article>
      </section>
    </div>

    

  </div>

  

</div>