<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable_column "Nickname" %></th>
      <th><%= sortable_column "Scheduled Date", :column => "start_time" %></th>
      <th>Notes</th>

      <th>Writer</th>
      <th>Editor</th>
      <th>Producer</th>

      <th>Theme</th>
      <th>Format</th>
      <th><%= sortable_column "Status", :column => "status" %></th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>

      <tr>
        <td><%= story.nickname %></td>
        <td><%= story.start_time %></td>
        <td><%= story.notes %></td>
        <td><%= story.writer.username %></td>
        <td><%= story.editor.username %></td>
        <td><%= story.producer.username %></td>
        <td><%= story.theme.theme %></td>
        <td><%= story.format.format %></td>
        <td><%= story.status %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Story', new_story_path %>


<%= calendar @stories, {:prev_text=>"prev", :next_text=>"next"} do |story| %>
  <div><%= link_to story.nickname, story %></div>
  <div><%= story.status %></div>
<% end %>


