<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @editor.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @editor.email %>
</p>

<%= link_to 'Edit', edit_editor_path(@editor) %> |
<%= link_to 'Back', editors_path %>
