
<p>
  <strong>Username:</strong>
  <%= @editor.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @editor.email %>
</p>

<div>
    <%= link_to "Edit", edit_editor_path(@editor), {:class => "btn btn-default btn-lg"}  %> | 
    <%= link_to "Back to Editors", editors_path(@editor), {:class => "btn btn-default btn-lg", :target => "_parent"}  %> | 

    <%= link_to "Back to Stories", stories_path(@story), {:class => "btn btn-default btn-lg", :target => "_parent"}  %>
</div>
