<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @producer.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @producer.email %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
