

<p>
  <strong>Username:</strong>
  <%= @producer.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @producer.email %>
</p>

<div>
    <%= link_to "Edit", edit_producer_path(@producer), {:class => "btn btn-default btn-lg"}  %> | 
    <%= link_to "Back to Producers", producers_path(@producers), {:class => "btn btn-default btn-lg", :target => "_parent"}  %> | 

    <%= link_to "Back to Stories", stories_path(@story), {:class => "btn btn-default btn-lg", :target => "_parent"}  %>
</div>
